
.service-img{
    /* height: 530px !important; */
    overflow: hidden !important;
    
};
.service:hover .service-img{
    transform: scale(1.1);
    transition: transform 1s;
    
}
.service{
    border: none !important;
}
.service-col{
    background-color: #F6F6F6;
    height: 415px;
}



.booking-btn{
    color: #e2231a;
    text-decoration: none;
}

.booking-btn:hover{
    color: black;
}


@media only screen and (max-width:688px){
    .service-col{
        background-color: #F6F6F6;
        height: auto;
    }
}