.MyBookingDetail{
    background-color: #F3F2F2;
}

.booked-img{
    height: 200px;
    width: 400px;
}
.cencel-btn{
    background-color: #FDD200;
    font-size: 16px;
    border-radius:  25px 25px 25px 25px;
    padding: 6px 20px;
}

@media only screen and (max-width:688px) {
    .booking{
        margin-right: 0px !important;
        overflow-x: hidden !important;
    }
    .booked-img{
        width: 300px
    }
};
